<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Emotions"><app-emotions></app-emotions></mat-tab>
    <mat-tab label="Summary"><app-summary></app-summary></mat-tab>
    <mat-tab label="Transcript"><app-transcript></app-transcript></mat-tab>
</mat-tab-group>
      