<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile rowspan="1" colspan="2" style="background: lightblue;">
        <h3>{{summaryReport.highlights[0]}}</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="1" style="background: lightpink; overflow-y: scroll;">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Questions</mat-panel-title>
                <mat-panel-description>Questions asked</mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor="let question of summaryReport.questionsTime">{{question}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="1" style="background: #DDBDF1; overflow-y: scroll">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Action Items</mat-panel-title>
                <mat-panel-description>Follow-ups determined</mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor="let action of summaryReport.actionsTime">{{action}}</p>
        </mat-expansion-panel>
    </mat-grid-tile>
</mat-grid-list>