<!-- <nav>
    <a routerLink="/upload" routerLinkActive="active">Upload</a>
</nav> -->
<mat-toolbar color="primary">
    <span routerLink="/" LinkActive="active" [style.cursor]="'pointer'">Meeting UI</span>

    <!-- This fills the remaining space of the current row -->
    <!-- <span class="example-fill-remaining-space"></span> -->

    <!-- <span>Right Aligned Text</span> -->
</mat-toolbar>
<router-outlet></router-outlet>
