<input type="file" #file style="display: none" (change)="onFileAdded()" />
<div class="container-fluid">
  <div class="col-12">
    <div class="row my-3 align-items-center justify-content-between mx-5">
      <!-- This is the content of the dialog, containing a list of the files to upload -->
      <button mat-raised-button color="primary" (click)="getFiles()" [disabled]="!filePending">Refresh</button>

      <h3 class="text-center py-3">Meeting Files</h3>

      <!-- This are the actions of the dialog, containing the primary and the cancel button-->
      <div class="actions">
        <!-- <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button> -->
        <button mat-raised-button color="primary" (click)="addFiles()">{{fileStatus}} File</button>
        <button class="ml-3" mat-raised-button color="primary" [disabled]="!uploadFile" (click)="uploadingFile()">Upload</button>
        <p *ngIf="uploadFile">{{uploadFile.name}}</p>
      </div>
    </div>

    <mat-list class="card-deck">
      <mat-list-item *ngFor="let job of jobs" class="card justify-content-between">
        <div class="card-header w-100 text-center"><h4>{{job.name}}</h4></div>
        <div class="row w-100 align-items-center justify-content-between">
          <p class="pt-2">{{job.status | titlecase}}</p><a href="/results/{{job.id}}" *ngIf="job.status==='transcribed'">Results</a>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>