mat-list, .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: flex;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  flex-direction: column;
  height: unset;
}

.card-header, .card-footer {
  background: transparent;
} 

.card-deck {
  display: flex;
  flex-flow: row wrap;
}