@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=DM+Sans|Noto+Serif+JP&display=swap');

$font-sans: 'DM Sans', sans-serif;
$font-serif: 'Noto Serif JP', serif;

$background: #0FA3B1;
$btn-primary: #F7A072;

* {
  margin: 0;
  padding: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: $font-serif;
}

mat-toolbar {
  h1 {
    font-size: 25px;
    font-family: $font-serif !important;
  }
}

.mat-toolbar.mat-primary {
  background: $background;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  flex-direction: column !important;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: $btn-primary;
}
  
a {
  color: $background;
}